.container {
  min-height: calc(100vh - 100px - 150px);
}

.buttonsEditRecruiter {
  background-color: #0a26ee;
  color: #ffffff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 3rem;
  border-radius: 100px 100px 100px 100px;

  &:hover {
    background-color: #0a26ee;
  }
}
