.container {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  gap: 5%;
  min-height: calc(100vh - 100px - 150px);
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2rem;
}

.title {
  color: rgb(10, 38, 238);
  font-weight: 600;
  font-size: 3.2rem;
}
